# Data

In [1]:
import pandas as pd
import numpy as np

In [2]:
basics = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep='\t',
                    low_memory=False)

In [3]:
ratings = pd.read_csv("https://datasets.imdbws.com/title.ratings.tsv.gz",
                      sep='\t', low_memory=False)

In [4]:
akas = pd.read_csv("https://datasets.imdbws.com/title.akas.tsv.gz", sep='\t',
                    low_memory=False)

Some columns need to be converted to numerical

## Cleaning Data

### akas

In [5]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34227298 entries, 0 to 34227297
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB

Changing \N to NaNs

In [6]:
akas.replace({'\\N': np.nan}, inplace=True)

Keep only US movies

In [7]:
akas['region'].value_counts()

DE    4083875
JP    4082471
FR    4081924
IN    4017213
ES    4004973
       ...
CC          1
TV          1
NU          1
PW          1
NR          1
Name: region, Length: 247, dtype: int64

In [8]:
akas = akas[akas['region'] == 'US']

In [9]:
akas['region'].value_counts()

US    1394680
Name: region, dtype: int64

In [10]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1394680 entries, 5 to 34227042
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1394680 non-null  object
 1   ordering         1394680 non-null  int64
 2   title            1394680 non-null  object
 3   region           1394680 non-null  object
 4   language         3744 non-null     object
 5   types            967716 non-null   object
 6   attributes       45543 non-null    object
 7   isOriginalTitle  1393335 non-null  object
dtypes: int64(1), object(7)
memory usage: 95.8+ MB

### basics

In [11]:
basics.info()
basics.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9457502 entries, 0 to 9457501
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 649.4+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

replace \N with np.nan

In [12]:
basics.replace({'\\N': np.nan}, inplace=True)

Remove NaNs from genre and runtimeMinutes columns

In [13]:
basics['genres'].isna().sum()

431836

In [14]:
basics['runtimeMinutes'].isna().sum()

6748382

In [15]:
basics.dropna(subset=['genres', 'runtimeMinutes'], inplace=True)

In [16]:
basics['genres'].isna().sum()

0

In [17]:
basics['runtimeMinutes'].isna().sum()

0

filter for only movies

In [18]:
basics['titleType'].value_counts()

tvEpisode       1275363
short            585896
movie            373895
video            177642
tvMovie           90226
tvSeries          88335
tvSpecial         17247
tvMiniSeries      16597
tvShort            8575
videoGame           313
Name: titleType, dtype: int64

In [19]:
basics = basics[basics['titleType'] == 'movie']
basics['titleType'].value_counts()

movie    373895
Name: titleType, dtype: int64

Filter for only non-fiction movies

In [20]:
is_doc = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_doc]

In [21]:
for i in basics['genres']:
    if 'Documentary' in i:
        print(i)
    elif 'documentary' in i:
        print(i)

Keep startYear between and including 2000-2021

In [22]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284223 entries, 8 to 9457351
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          284223 non-null  object
 1   titleType       284223 non-null  object
 2   primaryTitle    284223 non-null  object
 3   originalTitle   284223 non-null  object
 4   isAdult         284223 non-null  object
 5   startYear       279799 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  284223 non-null  object
 8   genres          284223 non-null  object
dtypes: object(9)
memory usage: 21.7+ MB

In [23]:
# Shrinking the range of values for releases to movies between
# 2000 up to 2021
basics = basics[basics['startYear'] >= '2000']
basics = basics[basics['startYear'] <= '2021']
print(min(basics['startYear']))
max(basics['startYear'])

2000

'2021'

In [24]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137435 entries, 34804 to 9457351
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          137435 non-null  object
 1   titleType       137435 non-null  object
 2   primaryTitle    137435 non-null  object
 3   originalTitle   137435 non-null  object
 4   isAdult         137435 non-null  object
 5   startYear       137435 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  137435 non-null  object
 8   genres          137435 non-null  object
dtypes: object(9)
memory usage: 10.5+ MB

In [25]:
# Removing Empty Column
basics.drop(columns='endYear', inplace=True)
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137435 entries, 34804 to 9457351
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          137435 non-null  object
 1   titleType       137435 non-null  object
 2   primaryTitle    137435 non-null  object
 3   originalTitle   137435 non-null  object
 4   isAdult         137435 non-null  object
 5   startYear       137435 non-null  object
 6   runtimeMinutes  137435 non-null  object
 7   genres          137435 non-null  object
dtypes: object(8)
memory usage: 9.4+ MB

Keeping only US movies

In [26]:
basics = basics[basics['tconst'].isin(akas['titleId'])]

In [27]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80115 entries, 34804 to 9457267
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          80115 non-null  object
 1   titleType       80115 non-null  object
 2   primaryTitle    80115 non-null  object
 3   originalTitle   80115 non-null  object
 4   isAdult         80115 non-null  object
 5   startYear       80115 non-null  object
 6   runtimeMinutes  80115 non-null  object
 7   genres          80115 non-null  object
dtypes: object(8)
memory usage: 5.5+ MB

In [28]:
# Converting necessary columns
# into numerical columns
basics['startYear'] = basics['startYear'].astype(int)
basics['runtimeMinutes'] = basics['runtimeMinutes'].astype(float)
basics['isAdult'] = basics['isAdult'].astype(int)

In [29]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80115 entries, 34804 to 9457267
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          80115 non-null  object
 1   titleType       80115 non-null  object
 2   primaryTitle    80115 non-null  object
 3   originalTitle   80115 non-null  object
 4   isAdult         80115 non-null  int32
 5   startYear       80115 non-null  int32
 6   runtimeMinutes  80115 non-null  float64
 7   genres          80115 non-null  object
dtypes: float64(1), int32(2), object(5)
memory usage: 4.9+ MB

### ratings

In [30]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258218 entries, 0 to 1258217
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1258218 non-null  object
 1   averageRating  1258218 non-null  float64
 2   numVotes       1258218 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.8+ MB

Changing \N to NaNs

In [31]:
ratings.replace({'\\N': np.nan}, inplace=True)

Keep only US movies

In [32]:
ratings = ratings[ratings['tconst'].isin(akas['titleId'])]

In [33]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 479138 entries, 0 to 1258214
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         479138 non-null  object
 1   averageRating  479138 non-null  float64
 2   numVotes       479138 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 14.6+ MB

# Saving Data on HardDrive

In [34]:
import os
os.makedirs('movie-data/',exist_ok=True) 
# Confirm folder created
os.listdir("movie-data/")

[]

In [35]:
## Save current dataframe to file.
basics.to_csv("movie-data/title_basics.csv.gz",compression='gzip',index=False)

In [36]:
akas.to_csv("movie-data/title_akas.csv.gz",compression='gzip',index=False)

In [37]:
ratings.to_csv("movie-data/title_ratings.csv.gz",compression='gzip',index=False)