# Data P1

In [1]:
import pandas as pd
import numpy as np

In [2]:
basics = pd.read_csv("https://datasets.imdbws.com/title.basics.tsv.gz", sep='\t',
                    low_memory=False)

In [3]:
ratings = pd.read_csv("https://datasets.imdbws.com/title.ratings.tsv.gz",
                      sep='\t', low_memory=False)

In [4]:
akas = pd.read_csv("https://datasets.imdbws.com/title.akas.tsv.gz", sep='\t',
                    low_memory=False)

Some columns need to be converted to numerical

## Cleaning Data

### akas

In [5]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34259952 entries, 0 to 34259951
Data columns (total 8 columns):
 #   Column           Dtype
---  ------           -----
 0   titleId          object
 1   ordering         int64
 2   title            object
 3   region           object
 4   language         object
 5   types            object
 6   attributes       object
 7   isOriginalTitle  object
dtypes: int64(1), object(7)
memory usage: 2.0+ GB

Changing \N to NaNs

In [6]:
akas.replace({'\\N': np.nan}, inplace=True)

Keep only US movies

In [7]:
akas['region'].value_counts()

DE    4087739
JP    4086217
FR    4085674
IN    4021347
ES    4008685
       ...
CC          1
TV          1
NU          1
PW          1
NR          1
Name: region, Length: 247, dtype: int64

In [8]:
akas = akas[akas['region'] == 'US']

In [9]:
akas['region'].value_counts()

US    1395338
Name: region, dtype: int64

In [10]:
akas.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1395338 entries, 5 to 34259696
Data columns (total 8 columns):
 #   Column           Non-Null Count    Dtype
---  ------           --------------    -----
 0   titleId          1395338 non-null  object
 1   ordering         1395338 non-null  int64
 2   title            1395338 non-null  object
 3   region           1395338 non-null  object
 4   language         3748 non-null     object
 5   types            967778 non-null   object
 6   attributes       45553 non-null    object
 7   isOriginalTitle  1393993 non-null  object
dtypes: int64(1), object(7)
memory usage: 95.8+ MB

### basics

In [11]:
basics.info()
basics.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9463826 entries, 0 to 9463825
Data columns (total 9 columns):
 #   Column          Dtype
---  ------          -----
 0   tconst          object
 1   titleType       object
 2   primaryTitle    object
 3   originalTitle   object
 4   isAdult         object
 5   startYear       object
 6   endYear         object
 7   runtimeMinutes  object
 8   genres          object
dtypes: object(9)
memory usage: 649.8+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,12,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

replace \N with np.nan

In [12]:
basics.replace({'\\N': np.nan}, inplace=True)

Remove NaNs from genre and runtimeMinutes columns

In [13]:
basics['genres'].isna().sum()

431776

In [14]:
basics['runtimeMinutes'].isna().sum()

6748365

In [15]:
basics.dropna(subset=['genres', 'runtimeMinutes'], inplace=True)

In [16]:
basics['genres'].isna().sum()

0

In [17]:
basics['runtimeMinutes'].isna().sum()

0

filter for only movies

In [18]:
basics['titleType'].value_counts()

tvEpisode       1280889
short            586075
movie            374012
video            177683
tvMovie           90274
tvSeries          88398
tvSpecial         17275
tvMiniSeries      16606
tvShort            8574
videoGame           314
Name: titleType, dtype: int64

In [19]:
basics = basics[basics['titleType'] == 'movie']
basics['titleType'].value_counts()

movie    374012
Name: titleType, dtype: int64

Filter for only non-fiction movies

In [20]:
is_doc = basics['genres'].str.contains('documentary',case=False)
basics = basics[~is_doc]

In [21]:
for i in basics['genres']:
    if 'Documentary' in i:
        print(i)
    elif 'documentary' in i:
        print(i)

Keep startYear between and including 2000-2021

In [22]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 284307 entries, 8 to 9463675
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          284307 non-null  object
 1   titleType       284307 non-null  object
 2   primaryTitle    284307 non-null  object
 3   originalTitle   284307 non-null  object
 4   isAdult         284307 non-null  object
 5   startYear       279889 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  284307 non-null  object
 8   genres          284307 non-null  object
dtypes: object(9)
memory usage: 21.7+ MB

In [23]:
# Shrinking the range of values for releases to movies between
# 2000 up to 2021
basics = basics[basics['startYear'] >= '2000']
basics = basics[basics['startYear'] <= '2021']
print(min(basics['startYear']))
max(basics['startYear'])

2000

'2021'

In [24]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137440 entries, 34804 to 9463675
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          137440 non-null  object
 1   titleType       137440 non-null  object
 2   primaryTitle    137440 non-null  object
 3   originalTitle   137440 non-null  object
 4   isAdult         137440 non-null  object
 5   startYear       137440 non-null  object
 6   endYear         0 non-null       object
 7   runtimeMinutes  137440 non-null  object
 8   genres          137440 non-null  object
dtypes: object(9)
memory usage: 10.5+ MB

In [25]:
# Removing Empty Column
basics.drop(columns='endYear', inplace=True)
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 137440 entries, 34804 to 9463675
Data columns (total 8 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   tconst          137440 non-null  object
 1   titleType       137440 non-null  object
 2   primaryTitle    137440 non-null  object
 3   originalTitle   137440 non-null  object
 4   isAdult         137440 non-null  object
 5   startYear       137440 non-null  object
 6   runtimeMinutes  137440 non-null  object
 7   genres          137440 non-null  object
dtypes: object(8)
memory usage: 9.4+ MB

Keeping only US movies

In [26]:
basics = basics[basics['tconst'].isin(akas['titleId'])]

In [27]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80112 entries, 34804 to 9463591
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          80112 non-null  object
 1   titleType       80112 non-null  object
 2   primaryTitle    80112 non-null  object
 3   originalTitle   80112 non-null  object
 4   isAdult         80112 non-null  object
 5   startYear       80112 non-null  object
 6   runtimeMinutes  80112 non-null  object
 7   genres          80112 non-null  object
dtypes: object(8)
memory usage: 5.5+ MB

In [28]:
# Converting necessary columns
# into numerical columns
basics['startYear'] = basics['startYear'].astype(int)
basics['runtimeMinutes'] = basics['runtimeMinutes'].astype(float)
basics['isAdult'] = basics['isAdult'].astype(int)

In [29]:
basics.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 80112 entries, 34804 to 9463591
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          80112 non-null  object
 1   titleType       80112 non-null  object
 2   primaryTitle    80112 non-null  object
 3   originalTitle   80112 non-null  object
 4   isAdult         80112 non-null  int32
 5   startYear       80112 non-null  int32
 6   runtimeMinutes  80112 non-null  float64
 7   genres          80112 non-null  object
dtypes: float64(1), int32(2), object(5)
memory usage: 4.9+ MB

### ratings

In [31]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1258999 entries, 0 to 1258998
Data columns (total 3 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   tconst         1258999 non-null  object
 1   averageRating  1258999 non-null  float64
 2   numVotes       1258999 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 28.8+ MB

Changing \N to NaNs

In [32]:
ratings.replace({'\\N': np.nan}, inplace=True)

Keep only US movies

In [33]:
ratings = ratings[ratings['tconst'].isin(akas['titleId'])]

In [34]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 479406 entries, 0 to 1258995
Data columns (total 3 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   tconst         479406 non-null  object
 1   averageRating  479406 non-null  float64
 2   numVotes       479406 non-null  int64
dtypes: float64(1), int64(1), object(1)
memory usage: 14.6+ MB

## Saving Data

In [ ]:
import os
os.makedirs('movie-data/',exist_ok=True) 
# Confirm folder created
os.listdir("movie-data/")

In [ ]:
## Save current dataframe to file.
basics.to_csv("movie-data/title_basics.csv.gz",compression='gzip',index=False)

In [ ]:
akas.to_csv("movie-data/title_akas.csv.gz",compression='gzip',index=False)

In [ ]:
ratings.to_csv("movie-data/title_ratings.csv.gz",compression='gzip',index=False)

# Data P2

I need to obtain financial data as well as certification/MPAA ratings.

In [66]:
import json, time, os
from tqdm.notebook import tqdm_notebook

with open('/Users/aveld/secret/tmdb_api.json') as f:
    login = json.load(f)

In [59]:
import tmdbsimple as tmdb

tmdb.API_KEY = login['api-key']

In [76]:
# Function to get MPAA
def movie_rating(id):
    """Adapted from source = https://github.com/celiao/tmdbsimple"""
    
    # Get the movie object for the current id
    movie = tmdb.Movies(id)
    # save the .info .releases dictionaries
    info = movie.info()
    releases = movie.releases()
    # Loop through countries in releases
    for c in releases['countries']:
        # if the country abbreviation==US
        if c['iso_3166_1' ] =='US':
            ## save a "certification" key in the info dict with the certification
            info['certification'] = c['certification']
    return info

In [77]:
# Function to add new data to a JSON file
def write_json(new_data, filename): 
    """Appends a list of records (new_data) to a json file (filename). 
    Adapted from: https://www.geeksforgeeks.org/append-to-json-file-using-python/"""  
    
    with open(filename,'r+') as file:
        # First we load existing data into a dict.
        file_data = json.load(file)
        ## Choose extend or append
        if (type(new_data) == list) & (type(file_data) == list):
            file_data.extend(new_data)
        else:
             file_data.append(new_data)
        # Sets file's current position at offset.
        file.seek(0)
        # convert back to json.
        json.dump(file_data, file)

In [78]:
def create_json_file(JSON_FILE,  delete_if_exists=False):
    
    ## Check if JSON_FILE exists
    file_exists = os.path.isfile(JSON_FILE)
    
    ## If it DOES exist:
    if file_exists == True:
        
        ## Check if user wants to delete JSON file
        if delete_if_exists==True:
            
            print(f"[!] {JSON_FILE} already exists. Deleting previous file...")
            
            ## delete file and confirm it no longer exits.
            os.remove(JSON_FILE)
            
            ## Recursive call to function after old file deleted
            create_json_file(JSON_FILE,delete_if_exists=False)
        else:
            print(f"[i] {JSON_FILE} already exists.")            
            
            
    ## If it does NOT exist:
    else:
        
        ## INFORM USER AND SAVE EMPTY LIST
        print(f"[i] {JSON_FILE} not found. Saving empty list to new file.")
        
        ## CREATE ANY NEEDED FOLDERS
        # Get the Folder Name only
        folder = os.path.dirname(JSON_FILE)
        
        ## If JSON_FILE included a folder:
        if len(folder)>0:
            # create the folder
            os.makedirs(folder,exist_ok=True)
        ## Save empty list to start the json file
        with open(JSON_FILE,'w') as f:
            json.dump([{'imdb_id':0}],f)

In [63]:
basics = pd.read_csv('movie-data/title_basics.csv.gz')

In [64]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001,118.0,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El Tango del Viudo y Su Espejo Deformante,0,2020,70.0,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018,122.0,Drama
3,tt0088751,movie,The Naked Monster,The Naked Monster,0,2005,100.0,"Comedy,Horror,Sci-Fi"
4,tt0096056,movie,Crime and Punishment,Crime and Punishment,0,2002,126.0,Drama

In [65]:
# Lists
YEARS = [2000, 2001]
errors = []

In [71]:
JSON_FILE = f"movie-data/tmdb_api_results_{i}.json"

In [83]:
# Testing functions 1
movie_rating('tt0848228')

{'adult': False,
 'backdrop_path': '/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg',
 'belongs_to_collection': {'id': 86311,
  'name': 'The Avengers Collection',
  'poster_path': '/yFSIUVTCvgYrpalUktulvk3Gi5Y.jpg',
  'backdrop_path': '/zuW6fOiusv4X9nnW3paHGfXcSll.jpg'},
 'budget': 220000000,
 'genres': [{'id': 878, 'name': 'Science Fiction'},
  {'id': 28, 'name': 'Action'},
  {'id': 12, 'name': 'Adventure'}],
 'homepage': 'https://www.marvel.com/movies/the-avengers',
 'id': 24428,
 'imdb_id': 'tt0848228',
 'original_language': 'en',
 'original_title': 'The Avengers',
 'overview': 'When an unexpected enemy emerges and threatens global safety and security, Nick Fury, director of the international peacekeeping agency known as S.H.I.E.L.D., finds himself in need of a team to pull the world back from the brink of disaster. Spanning the globe, a daring recruitment effort begins!',
 'popularity': 161.95,
 'poster_path': '/tYqp6vEOo8YlVWrYQvt9nyOhsA2.jpg',
 'production_companies': [{'id': 420,
   'logo_path': '/hUzeosd33nzE5MCNsZxCGEKTXaQ.png',
   'name': 'Marvel Studios',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2012-04-25',
 'revenue': 1518815515,
 'runtime': 143,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'},
  {'english_name': 'Hindi', 'iso_639_1': 'hi', 'name': 'हिन्दी'},
  {'english_name': 'Russian', 'iso_639_1': 'ru', 'name': 'Pусский'}],
 'status': 'Released',
 'tagline': 'Some assembly required.',
 'title': 'The Avengers',
 'video': False,
 'vote_average': 7.707,
 'vote_count': 27911,
 'certification': 'PG-13'}

In [84]:
# Testing Function 2
movie_rating('tt0332280')

{'adult': False,
 'backdrop_path': '/qom1SZSENdmHFNZBXbtJAU0WTlC.jpg',
 'belongs_to_collection': None,
 'budget': 29000000,
 'genres': [{'id': 10749, 'name': 'Romance'}, {'id': 18, 'name': 'Drama'}],
 'homepage': 'http://www.newline.com/properties/notebookthe.html',
 'id': 11036,
 'imdb_id': 'tt0332280',
 'original_language': 'en',
 'original_title': 'The Notebook',
 'overview': "An epic love story centered around an older man who reads aloud to a woman with Alzheimer's. From a faded notebook, the old man's words bring to life the story about a couple who is separated by World War II, and is then passionately reunited, seven years later, after they have taken different paths.",
 'popularity': 59.79,
 'poster_path': '/rNzQyW4f8B8cQeg7Dgj3n6eT5k9.jpg',
 'production_companies': [{'id': 12,
   'logo_path': '/iaYpEp3LQmb8AfAtmTvpqd4149c.png',
   'name': 'New Line Cinema',
   'origin_country': 'US'},
  {'id': 1565, 'logo_path': None, 'name': 'Avery Pix', 'origin_country': 'US'},
  {'id': 2605,
   'logo_path': None,
   'name': 'Gran Via Productions',
   'origin_country': 'US'}],
 'production_countries': [{'iso_3166_1': 'US',
   'name': 'United States of America'}],
 'release_date': '2004-06-25',
 'revenue': 115603229,
 'runtime': 123,
 'spoken_languages': [{'english_name': 'English',
   'iso_639_1': 'en',
   'name': 'English'}],
 'status': 'Released',
 'tagline': 'Behind every great love is a great story.',
 'title': 'The Notebook',
 'video': False,
 'vote_average': 7.881,
 'vote_count': 9982,
 'certification': 'PG-13'}

In [82]:
# Nested Loop for movies starting in 2000 and 2001
for i in tqdm_notebook(YEARS, desc='YEARS', position=0):
    create_json_file(JSON_FILE, delete_if_exists=True)
    
    #Saving new year as the current df
    df = basics.loc[basics['startYear']==i].copy()
    # saving movie ids to list
    movie_ids = df['tconst'].copy()
    
    # Keeping track of previous loops
    previous_df = pd.read_json(JSON_FILE)
    
    # Making sure not to repeat movie IDs
    movie_ids_to_get = movie_ids[~movie_ids.isin(previous_df['imdb_id'])]
    
    for movie_id in tqdm_notebook(movie_ids_to_get,
                                  desc=f'Movies from {i}',
                                  position=1,
                                  leave=True):
        try:
            # Retrieve data for the movie id
            temp = movie_rating(movie_id)  
            # Append/extend results to existing file
            write_json(temp,JSON_FILE)
            # Short 20 ms sleep
            time.sleep(0.02)
            
        except Exception as e:
            errors.append([movie_id, e])
    
    final_year_df = pd.read_json(JSON_FILE)
    final_year_df.to_csv(f"movie-data/final_tmdb_data_{i}.csv.gz",
                         compression="gzip", index=False)


print(f"- Total errors: {len(errors)}")

YEARS:   0%|          | 0/2 [00:00<?, ?it/s]

[!] movie-data/tmdb_api_results_Drama.json already exists. Deleting previous file...
[i] movie-data/tmdb_api_results_Drama.json not found. Saving empty list to new file.

Movies from 2000:   0%|          | 0/1420 [00:00<?, ?it/s]

[!] movie-data/tmdb_api_results_Drama.json already exists. Deleting previous file...
[i] movie-data/tmdb_api_results_Drama.json not found. Saving empty list to new file.

Movies from 2001:   0%|          | 0/1532 [00:00<?, ?it/s]

- Total errors: 4818

## Exploratory Data Analysis

In [90]:
df_2000 = pd.read_csv('movie-data/final_tmdb_data_2000.csv.gz')
df_2001 = pd.read_csv('movie-data/final_tmdb_data_2001.csv.gz')

In [93]:
df_years = pd.concat([df_2000, df_2001])
df_years.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2508 entries, 0 to 1292
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                2508 non-null   object
 1   adult                  2506 non-null   float64
 2   backdrop_path          1324 non-null   object
 3   belongs_to_collection  197 non-null    object
 4   budget                 2506 non-null   float64
 5   genres                 2506 non-null   object
 6   homepage               173 non-null    object
 7   id                     2506 non-null   float64
 8   original_language      2506 non-null   object
 9   original_title         2506 non-null   object
 10  overview               2454 non-null   object
 11  popularity             2506 non-null   float64
 12  poster_path            2231 non-null   object
 13  production_companies   2506 non-null   object
 14  production_countries   2506 non-null   object
 15  release_date           2491 non-null   object
 16  revenue                2506 non-null   float64
 17  runtime                2506 non-null   float64
 18  spoken_languages       2506 non-null   object
 19  status                 2506 non-null   object
 20  tagline                1067 non-null   object
 21  title                  2506 non-null   object
 22  video                  2506 non-null   float64
 23  vote_average           2506 non-null   float64
 24  vote_count             2506 non-null   float64
 25  certification          797 non-null    object
dtypes: float64(9), object(17)
memory usage: 529.0+ KB

Starting with 2508 total entries

In [109]:
# Dropping rows with 0 in budget and revenue
# f for filtered
df_years_f = df_years[(df_years['budget'] > 0) | (df_years['revenue'] > 0)]

In [110]:
df_years_f.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 627 entries, 1 to 1272
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                627 non-null    object
 1   adult                  627 non-null    float64
 2   backdrop_path          528 non-null    object
 3   belongs_to_collection  103 non-null    object
 4   budget                 627 non-null    float64
 5   genres                 627 non-null    object
 6   homepage               77 non-null     object
 7   id                     627 non-null    float64
 8   original_language      627 non-null    object
 9   original_title         627 non-null    object
 10  overview               624 non-null    object
 11  popularity             627 non-null    float64
 12  poster_path            605 non-null    object
 13  production_companies   627 non-null    object
 14  production_countries   627 non-null    object
 15  release_date           627 non-null    object
 16  revenue                627 non-null    float64
 17  runtime                627 non-null    float64
 18  spoken_languages       627 non-null    object
 19  status                 627 non-null    object
 20  tagline                485 non-null    object
 21  title                  627 non-null    object
 22  video                  627 non-null    float64
 23  vote_average           627 non-null    float64
 24  vote_count             627 non-null    float64
 25  certification          425 non-null    object
dtypes: float64(9), object(17)
memory usage: 132.3+ KB

Q1. How many movies had at least some valid financial information (values > 0 for budget OR revenue)?

> Only 627 entries left after filtering movies with revenue OR budget data.

In [111]:
df_years_f['certification'].value_counts()

R        229
PG-13    131
PG        35
NR        16
G         14
Name: certification, dtype: int64

Q2. How many movies are there in each of the certification categories (G/PG/PG-13/R)?

> - R = 229
> - PG-13 = 131
> - PG = 35
> - NR = 16
> - G = 14

lambda function modified from:
https://re-thought.com/how-to-suppress-scientific-notation-in-pandas/

In [129]:
df_years_f.groupby('certification')['revenue'].mean().apply(lambda x: '%.2f' % x)

certification
G        123746274.93
NR         9443087.19
PG       112357320.40
PG-13     99262990.70
R         33211194.39
Name: revenue, dtype: object

Q3. What is the average revenue per certification category?
>- G = $ 123,746,274.93 

>- NR = $ 9,443,087.19

>- PG = $ 112,357,320.40

>- PG-13 = $ 99,262,990.70

>- R = $ 33,211,194.39

In [130]:
df_years_f.groupby('certification')['budget'].mean().apply(lambda x: '%.2f' % x)

certification
G        40857142.86
NR        6693755.88
PG       44978571.69
PG-13    43153877.31
R        19746744.32
Name: budget, dtype: object

Q4. What is the average budget per certification category?
>- G = $ 40,857,142.86

>- NR = $ 6,693,722.88

>- PG = $ 44,978,571.69

>- PG-13 = $ 43,153,877.31

>- R = $ 19,746,744.32

In [131]:
# Saving Entire Combined Dataframe
df_years.to_csv('movie-data/tmdb_results_combined.csv.gz', compression='gzip', index=False)